extends ../layouts/default
block content
    .container
        nav(aria-label='breadcrumb', role='navigation')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item
                    a(href='/charts/pages/1') Dashboard
                li.breadcrumb-item  #{data.chart.title}
            
        .row.justify-content-md-center(style="align:center")
            .col.col-md-2
            .col-12.col-md-8
                .card(style='width:100%;padding-bottom:10px;width:100%')
                    h3.card-header=data.chart.title
                    if data.chart.host.netdataport!=null
                        div(data-netdata=data.chart.item.title, data-host=data.chart.host.address+':'+data.chart.host.netdataport, data-chart-library='dygraph', data-width='100%', data-height='200', data-after='-600')                                    
                    else
                        div(data-netdata=data.chart.item.title, data-host=data.chart.host.address, data-chart-library='dygraph', data-width='100%', data-height='200', data-after='-600')                                                                                
                    .card-body
                        h4.card-text Hostname: #{data.chart.host.title}
                        h4.card-text Host address: #{data.chart.host.address}
                        h4.card-text Category: #{data.chart.item.category.title}
                        h4.card-text Description: #{data.chart.description}
                        h4.card-text Created at: #{data.chart.createdAt}                        
            .col.col-md-2
    br