extends ../layouts/default

block content
    .container
        nav(aria-label='breadcrumb', role='navigation')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item Dashboard
            h1
                | Dashboard 
                if user
                    span(style='font-size:10px').badge.badge-success published by #{user.name.first} #{user.name.last}                
                else
                    span(style='font-size:10px').badge.badge-success public dashboard                                
            .container                
                .row(style="padding-bottom:20px;")
                    .w-50
                        #filter-panel.collapse
                            .card.card-block(style="padding-left:10px;padding-bottom:10px;padding-top:10px;padding-right:10px;width:100%")
                                form(role='form' method='POST' action='/charts/pages/1')                                                                        
                                    .form-group                                      
                                        label(for='hostfilter') Select host
                                        select(id='hostfilter' class='form-control js-example-responsive' onchange='hostChanged()' style="width: 100%")
                                            each host in data.hosts                                            
                                                option(value=host.id) #{host.title}
                                            option(value='all') All
                                    .form-group                                        
                                        label(for='categoryfilter') Select category
                                        select(id='categoryfilter' class='form-control js-example-responsive' onchange='categoryChanged()' style="width: 100%")
                                            each category in data.categories                                            
                                                option(value=category.id) #{category.title}
                                            option(value='all') All                                                
                                    button.btn.btn-primary(type='submit') Apply
                .row(style="padding-bottom:20px;")
                .row(style="padding-bottom:20px;")
                    .col-md-2                                                            
                        button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#filter-panel')
                            span.fa.fa-filter
                            |  Filter
                    .col-md-8
                        div#filterpanel(align='center')
                            span(id='hostbadge' class='badge badge-info')
                            span(id='categorybadge' class='badge badge-warning')
                    .col-md-2
            div#myDIV
                - for (var i=0; i<data.charts.length; i++) 
                    .row
                        .col-md-2
                        .col-md-8
                            div(align='center')
                                - var title=data.charts[i].title+' - Host:'+data.charts[i].host.title + ' - Category:'+data.charts[i].item.category.title                                
                                if data.charts[i].host.netdataport!=null
                                    if data.charts[i].charttype=='gauge'
                                        div(data-netdata=data.charts[i].item.title,data-title="",data-host=data.charts[i].host.address+':'+data.charts[i].host.netdataport ,data-chart-library=data.charts[i].charttype, data-width='50%', data-height='120', data-after='-600')
                                    else
                                        div(data-netdata=data.charts[i].item.title, data-title=title ,data-host=data.charts[i].host.address+':'+data.charts[i].host.netdataport ,data-chart-library=data.charts[i].charttype, data-width='100%', data-height='200', data-after='-600')                                                                        
                                else
                                    if data.charts[i].charttype=='gauge'
                                        div(data-netdata=data.charts[i].item.title,data-title="",data-host=data.charts[i].host.address ,data-chart-library=data.charts[i].charttype, data-width='50%', data-height='120', data-after='-600')
                                    else
                                        div(data-netdata=data.charts[i].item.title, data-title=title ,data-host=data.charts[i].host.address ,data-chart-library=data.charts[i].charttype, data-width='100%', data-height='200', data-after='-600')                                                                        
                                                                        
                                div
                                    a.btn.btn-light.btn-sm(href='/show/'+data.charts[i]._id) Detail
                                br
                        .col-md-2
                                                                                                                                                    
            div#mypage
                ul.pagination.justify-content-center
                    ul.pagination.pagination-sm
                        if (data.pages[0]!=0)
                            if (data.currentpage==1)
                                li.page-item.disabled                            
                                    a.page-link <<
                            else
                                li.page-item                            
                                    a.page-link(href='/charts/pages/1') <<
                                                                                                                                                                                                                                   
                            if (data.prev==null)
                                li.page-item.disabled                            
                                    a.page-link <                                                                                                                                           
                            else
                                li.page-item                            
                                    a.page-link(href='/charts/pages/' + data.prev) <                                                                                                                
                            - for (var i=0; i<data.pages.length;i++)
                                if (data.pages[i]==data.currentpage)
                                        li.page-item.active
                                            a.page-link= data.pages[i]                                                                                
                                else                                
                                    li.page-item
                                        a.page-link(href='/charts/pages/'+data.pages[i])= data.pages[i]
                            if (data.next==null)                                        
                                li.page-item.disabled
                                    a.page-link >
                            else
                                li.page-item
                                    a.page-link(href='/charts/pages/'+data.next) >
                            if (data.currentpage==data.totalpages)                                    
                                li.page-item.disabled                            
                                    a.page-link >>                                                                                                                                           
                            else
                                li.page-item(data-toggle="tooltip" data-placement="top" title="page "+data.totalpages)                            
                                    a.page-link(href='/charts/pages/'+data.totalpages) >>                                                                                                                                           
                                                                
                                                                
                                                                
                                                                                                                        
    script.
        function hostChanged(){
        var x = document.getElementById("hostfilter").value;
        setCookie('host',x,1);
        }
        function categoryChanged(){
        var x = document.getElementById("categoryfilter").value;
        setCookie('category',x,1);
        }

        function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
        c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
        }
        }
        return "";
        }
        $(document).ready(function(){
        Pace.stop()
        $('#tree').treeview({
        data:[
        {
        text:"Parent 1",
        nodes:[
        {
        text:"Child 1"
        },
        {
        text:"Child 2",
        nodes:[
        {
        text:"Grandchild 1"
        }
        ]
        }
        ]
        },
        {
        text:"Parent 2"
        }
        ]                    
        })

        if(!getCookie('host')){
        setCookie('host','all',1);
        }
        if(!getCookie('category')){
        setCookie('category','all',1);
        }
        $("#hostfilter").val(getCookie('host'));
        $("#categoryfilter").val(getCookie('category'));
        var selectedCategory = $('#categoryfilter')[0].options[$('#categoryfilter')[0].options.selectedIndex].text
        var selectedHost=$('#hostfilter')[0].options[$('#hostfilter')[0].options.selectedIndex].text
        $('#hostbadge').text(selectedHost);
        $('#categorybadge').text(selectedCategory);
        $('#hostfilter').select2();
        $('#categoryfilter').select2();                
        })

