extends ../layouts/default

block content
    .container
        nav(aria-label='breadcrumb', role='navigation')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item Hosts        
        .row
            .col-sm-2
                #tree(style=" overflow-y:auto; height: 480px;")
            .col-sm-10
                .card.mx-auto
                    .card-block
                        .card-header Remote Console 
                #newtab(align='center')                        
                #myframe(align='center')

    script.
        function getTree(){
        $.ajax({
        type: 'GET',
        url: '/api/hosts',
        dataType: "json",
        })
        .done(function (response) {
        $('#tree').treeview({
        data: response.data,
        onNodeSelected: function(event, node) {
        $('#newtab').html("<a href='" +node.href+"' target='_blank'>Click here to show only console</a>")
        $('#myframe').html("<iframe class='embed-responsive-item' src='"+node.href +"' height='520' width='660'><iframe>")
        },            
        });
        })
        .fail(function (response) {
        console.log(response);
        });            
        }
        $(document).ready(function(){        
        getTree();
        })

