extends ../layouts/default

block content		
	.parallax
		.container.py-5
			.row
				.col-md-12.text-white
					h1.display-3.mb-4 Rhazes
					p.lead.mb-5
						p.lead.mb-5
							| Rhazes is a dashboard server for machine performances
							br
							| You can monitor your linux machines through hundreds performance charts
							br
							| The charts are provided by 
							a(href='http://netdata.firehol.org/' target='_blank') Netdata
					if user	&& user.canAccessKeystone		
						p.lead.mb-3 
							| You are logging in as <span class="badge badge-success">#{user.name.first} #{user.name.last}</span>
							br
							a.btn.btn-lg.mx-1.btn-secondary(href='/keystone') Admin UI
					else
						p.lead.mb-5
							| Please 
							a.btn.btn-lg.btn-primary.mx-1(href='/keystone/signin') Signin
	.py-5.bg-light
		.container
			.row
				.col-md-12.text-center
					h2.pb-4.text-secondary Features
			.row
				.align-self-center.text-md-right.text-center.col-md-4
					h3.text-primary Realtime
					p.mb-5
						| Everything on your server could be monitored right on time the events happen. 
						br
						| Fast and efficient
					h3.text-primary Dynamic dashboard
					p.mb-5 Add your favorite metrics and filter them as you want
					h3.text-primary Custom metrics
					p
						| You can build your own metrics based-on snmp, statsd, sensor value etc
				.my-3.col-md-4
					img.img-fluid.d-block.ml-1.mx-auto(src='/images/raspi3.png')
				.align-self-center.text-md-left.text-center.col-md-4
					h3.text-primary Tons of metrics
					p.mb-5 Hundreds of metric ready to go. Just add them to your dashboard
					h3.text-primary Administrator
					p.mb-5 
						| Add charts, category and other things 
						br
						| through admin page
						
					h3.text-primary Monitor other servers
					p
						| Add metrics from other server is very siimple
