extends ../layouts/default

block content
    .container
        nav(aria-label='breadcrumb', role='navigation')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item Map        
        .row
            .col-lg-12
                input#pac-input(class="controls" type="text" placeholder="Search Box")            
                #map(style='height:600px;')
                


    script.
        function initMap() {
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        var bounds = new google.maps.LatLngBounds();                        
        var map = new google.maps.Map(document.getElementById('map'), {
        });
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });
        var markers = [];                
        searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();
        if (places.length == 0) {
        return;
        }
        markers.forEach(function(marker) {
        marker.setMap(null);
        });
        markers = [];        
        var bounds = new google.maps.LatLngBounds();        
        places.forEach(function(place) { 
        if (!place.geometry) {
        console.log("Returned place contains no geometry");
        return;
        }            
        var icon = {
        url: place.icon,
        size: new google.maps.Size(71, 71),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(17, 34),
        scaledSize: new google.maps.Size(25, 25)
        };        
        markers.push(new google.maps.Marker({
        map: map,
        icon: icon,
        title: place.name,
        position: place.geometry.location
        }));        
        if (place.geometry.viewport) {
        bounds.union(place.geometry.viewport);
        } else {
        bounds.extend(place.geometry.location);
        }            
        })
        map.fitBounds(bounds);        
        })
        setMarkers(map,bounds);
        }
        var datas = !{JSON.stringify(data.hosts)}
        function setMarkers(map,bounds) {
        for (var i = 0; i < datas.length; i++) {
        var loc = datas[i];
        $.getJSON('/api/geoip?host='+loc,null,function(res){
        if(res.geoip){
        var marker = new google.maps.Marker({
        position: {lat: res.geoip.ll[0], lng: res.geoip.ll[1]},
        map: map,
        icon: '/images/raspiblue.png',
        title: res.host,        
        });
        bounds.extend(marker.position);                
        map.fitBounds(bounds); 
        }
        })
        }
        }
block js
    script(src='https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDnAuv6ive0gFzvVREcB1bQt8cmTUvcoj4&callback=initMap', async='', defer='')
                

