extends ../layouts/default
block content
    .container
        nav(aria-label='breadcrumb', role='navigation')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') Home
                    li.breadcrumb-item Status    
        .row
            .col-md-4
                .card.mx-auto
                    .card-block
                        .card-header Platform                        
                    img.card-img-bottom.mx-auto(src='/images/'+platform+'.png' alt="Card image cap" style='width:20%;padding-bottom:10px;padding-top:5px')
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#arch Arch:
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#release Kernel Version:
            .col-md-4
                .card.mx-auto
                    .card-block
                        .card-header Uptime                        
                    img.card-img-bottom.mx-auto(src='/images/uptime.jpg' alt="Uptime" style='width:20%;padding-bottom:10px;padding-top:5px')
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#uptime Uptime
                    li.list-group-item.text-center(style='font-family:Clock;font-size:20px;font-weight:bold')#localtime

            .col-md-4
                .card.mx-auto
                    .card-block
                        .card-header Temperature                        
                    img.card-img-bottom.mx-auto(src='/images/temperature.png' alt="Uptime" style='width:20%;padding-bottom:10px;padding-top:5px')
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#cputemperature 48.90
        .row(style='padding-bottom:10px;padding-top:10px')                    
            .col-md-4
                .card.mx-auto
                    .card-block
                        .card-header Memory                        
                    img.card-img-bottom.mx-auto(src='/images/ram.png' alt="Card image cap" style='width:20%;padding-bottom:10px;padding-top:5px')
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#freemem Free Memory:
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#totalmem Total Memory: 
                                        
            .col-md-4
                .card.mx-auto
                    .card-block
                        .card-header CPU                        
                    img.card-img-bottom.mx-auto(src='/images/cpu.png' alt="Uptime" style='width:20%;padding-bottom:10px;padding-top:5px')
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#loadavg Load Avg
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#cpumodel Model:
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#cpuspeed Frequency:              
            .col-md-4
                .card.mx-auto
                    .card-block
                        .card-header Client                        
                    img#imgclientOS.card-img-bottom.mx-auto(src='' alt="Client OS" style='width:20%;padding-bottom:10px;padding-top:5px')
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#clientOS OS:        
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#clientBrowser Browser:
                    li.list-group-item.text-center(style='line-height:10px;font-size:12px;font-weight:bold')#clientType Device Type:               


    script.
        function uptime(data){
        daysI=Math.floor(data/86400);
        daysR=data%86400;
        hoursI=Math.floor(daysR/3600);
        hoursR=daysR%3600;
        minsI=Math.floor(hoursR/60);
        minsR=hoursR%60;        
        return daysI+' days '+hoursI +' hours '+ +minsI+' mins '+minsR+' secs';
        }
        function loadavg(data){
        var one_min,five_min,fifteen_min=0
        if (data.length>0){
        one_min=parseFloat(data[0]).toFixed(2);
        five_min=parseFloat(data[1]).toFixed(2);
        fifteen_min=parseFloat(data[2]).toFixed(2);
        }
        return 'Load Avg 1 min: '+one_min+' - 5 min: '+five_min+' - 15 min: '+fifteen_min;
        }
        function cpumodel(data){
        var model="";
        if(data.length>0){
        model=data[0].model;
        }
        return 'Model: '+model;
        }
        function cpuspeed(data){
        var speed=0;
        if(data.length>0){
        speed=parseFloat(data[0].speed);            
        }
        return 'Frequency: '+speed+' MHz';
        }
        function ajaxCall(){
        $.getJSON('/api/os',function(data){
        freemem=parseFloat(data.freemem/1024/1024).toFixed(2);
        totalmem=parseFloat(data.totalmem/1024/1024).toFixed(2);
        $('#arch').text('Arch: '+data.arch);
        $('#freemem').text('Free Memory: '+ freemem+' MB');
        $('#totalmem').text('Total Memory: '+totalmem+' MB');   
        $('#uptime').text(uptime(data.uptime));           
        $('#release').text('Kernel Version: '+data.release);                        
        $('#loadavg').text(loadavg(data.loadavg));    
        $('#cpumodel').text(cpumodel(data.cpus));    
        $('#cpuspeed').text(cpuspeed(data.cpus));   
        $('#clientOS').text('OS: '+detect.parse(navigator.userAgent).os.name);        
        $('#clientBrowser').text('Browser: '+detect.parse(navigator.userAgent).browser.name);
        $('#clientType').text('Device Type:'+detect.parse(navigator.userAgent).device.type);    
        var os = (detect.parse(navigator.userAgent).os.name).toLowerCase()
        if (os.indexOf('android')>=0) {
        $('#imgclientOS')[0].src='/images/android-logo.png';            
        }else{
        $('#imgclientOS')[0].src='/images/'+os.replace(' ','-')+'-logo.png';
        }
        })
        }
        function ajaxCall2(){
        $.getJSON('/api/board',function(data){
        if (data.cputemperature){
        $('#cputemperature').text(data.cputemperature+String.fromCharCode(176)+'C');            
        }
        else{
        $('#cputemperature').text('No Sensor');
        }
        })
        }
        function ajaxTimeString(){
        $.getJSON('/api/time',function(data){
        $('#localtime').text(data.time);
        })        
        }
        $(document).ready(function(){
        ajaxCall();
        ajaxCall2();
        setInterval(ajaxCall,10000);
        setInterval(ajaxCall2,10000);        
        setInterval(ajaxTimeString,1000);        
        
        })        