include ../mixins/flash-messages

doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title || 'Raspberry Pi Monitor'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/blue/pace-theme-center-circle.min.css", rel="stylesheet")
		<!--link(rel='stylesheet', href='/styles/font-awesome.min.css', type='text/css')-->
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
		link(rel='stylesheet', href='/styles/bootstrap-4.0.0-beta.css', type='text/css')
		link(href="/styles/mycss.css", rel="stylesheet")
		script(src='/js/jquery/jquery-1.11.3.min.js')
		link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet")
		link(href="/styles/map.css", rel="stylesheet")
		link(href="/styles/bootstrap-treeview.min.css", rel="stylesheet")
				
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")        
		block css
		
		+flash-messages(messages)
				
		block head
			
	body
		nav.navbar.navbar-expand-md.bg-secondary.navbar-dark
			.container
				a.navbar-brand(href='#' style="font-size:36px") Rhazes
				button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarSupportedContent.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						if user
							each link in navLinks							
								li.nav-item
									a.nav-link(href=link.href)=link.label
						else
							each link in navLinks
								if link.label!='Hosts'
									li.nav-item
										a.nav-link(href=link.href)=link.label
																						
					ul.navbar-nav.ml-auto
						if user
							if user.canAccessKeystone						
								li.nav-item
									a.nav-link(href='/keystone' data-toggle="tooltip" data-placement="top" title="Config") Config
							li.nav-item
								a.nav-link(href='/keystone/signout' data-toggle="tooltip" data-placement="top" title="Sign out") Sign out
						else
							li.nav-item
								a.nav-link(href='/keystone/signin' data-toggle="tooltip" data-placement="top" title="Sign in") Sign in
                        
		block intro

		block content

		.py-5.bg-dark.text-white
			.container
				.row
					.col-md-12.mt-3.text-center
						p © Copyright 2017 Rhazes - All rights reserved.
		script(src='/js/popper.min.js')
		script(src='/js/bootstrap.min.js')
		<script>var netdataNoBootstrap = true;</script>
		script(src='http://'+thisip+':19999/dashboard.js')
		script(data-pace-options='{ "ajax": false }' src='https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js")
		script(src="/js/detect.js")
		script(src="/js/bootstrap-treeview.min.js")
		if user && user.canAccessKeystone
			script(src="/keystone/js/content/editor.js")
					
		block js
