@font-face {
  font-family: Clock;src: url(/fonts/digital-7.ttf);
}

.container {
  padding-top:10px;
  padding-bottom:10px;
}

.breadcrumb {background: rgba(245, 245, 245, 1); background: -webkit-linear-gradient(top, rgba(25, 138, 230, 0.45) 0%, rgba(245, 245, 245, 1) 100%); background: linear-gradient(to bottom, rgba(25, 138, 230, 0.45) 0%, rgba(245, 245, 245, 1) 100%); border: 0px solid rgba(255, 255, 255, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}

.card-outline-primary {
  padding: 4px;
  border: 1px solid;
  border-color: #0275d8;
}
.card-text {
  font-size:11px;
  font-family: arial;
}


.parallax { 
  /* The image used */
  background-image: url("/images/raspicluster.png");

  /* Set a specific height */
  height: 720px; 
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
